* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 50, 0.75), rgba(0, 0, 50, 0.75)), url("berlin-2263537_1920.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 90%;
    max-width: 700px;
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 35px;
    font-weight: bold;
    background: repeating-radial-gradient(circle closest-corner at 100px 100px, #553c9a, #b393d3 10%, #553c9a 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-box h1::after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    margin: 20px auto;
}

.form-box h2 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #3c00a0;
}

.form-box h3 {
    color: #000000;
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.input-field i {
    margin: 0 15px;
    color: #999;
}

input[type="text"],
select {
    flex: 1;
    border: none;
    background: transparent;
    padding: 15px;
    font-size: 18px;
    color: #000000;
}

.switch-field {
    display: flex;
    align-items: center;
}

.switch-field input[type="radio"] {
    display: none;
}

.switch-field label {
    display: block;
    background: #cfcbcb;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.switch-field input[type="radio"]:checked + label {
    background: #3c3842;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 18px;
}
  
.btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
  
.btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
  
.btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}
  
.btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}
  

.result {
    background: #a5ada0;
    width: 50%;
    margin: 25px auto;
    padding: 15px;
    font-size: 18px;
    color: #333 !important;
    border-radius: 5px;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}

.result:hover {
    color: #0f0f0f;
    background: #f5f79c;
    cursor: pointer;
}